.pie{
    background-color:#DD4B39 ;
    padding: 2%;
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        li{
            :hover{
               transform: scale(1.6);
               transition: all 0.9s; 
            }
            a{
                img{
                    margin-left: 25%;
                    height: 100%;
                    width: 25%;
                }
            }
        }
    }
}

.promo{
    border-radius: 3%;
    margin: 2% 7%;
    border: solid 1px gray;
}

.promo:hover{
        background-color:lightcyan;
        transform: scale(1.05);
        transition: all 1.2s;
    
}